DATABASE_URL="postgresql://USER:PASSWORD@HOST:PORT/logoz?sslmode=require"
SHADOW_DATABASE_URL="postgresql://USER:PASSWORD@HOST:PORT/logoz_shadow?sslmode=require"
NEXT_PUBLIC_SITE_NAME="Logoz Custom"
ADMIN_CONTACT_EMAIL="hello@logoz.com"
CLOUD_STORAGE_BUCKET="logoz-assets"




